html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

input,
textarea,
button,
select {
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

button {
  border: 0;
  cursor: pointer;
}

input {
  border: 0;
  line-height: normal;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.wapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 2rem;
  color: #1a2b5f;
}

.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  color: #1a2b5f;
  padding: 1rem 3rem;
  display: inline-block;
  border: 0;
  background-color: transparent;
}

.header {
  padding-top: 4rem;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.header__menu-item {
  margin-left: 5rem;
}

.header__menu-item:last-child {
  margin-left: 7rem;
}

.header__menu-link {
  font-size: 1.6rem;
  color: #1a2b5f;
  -webkit-transition: color 0.25s linear, border 0.25s linear;
  -o-transition: color 0.25s linear, border 0.25s linear;
  transition: color 0.25s linear, border 0.25s linear;
}

.header__menu-link:hover {
  color: #ffc87a;
  font-weight: 600;
}

.header__login {
  border: 1px solid currentColor;
  border-radius: 2.5rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1a2b5f;
}

.logo__text {
  color: #ffc87a;
}

.banner {
  padding: 15rem 0;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}

.banner__heading {
  font-weight: 700;
  font-size: 6rem;
  margin-bottom: 3rem;
}

.banner__desc {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

.banner__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.banner__buttons .btn {
  margin: 1rem;
}

.btn--border {
  border: 1px solid currentColor;
}

.btn--rounded {
  border-radius: 5rem;
}

.btn--primary {
  background-color: #ffc87a;
}

.btn--shadow {
  -webkit-box-shadow: 0 10px 35px -5px #ffc87a;
          box-shadow: 0 10px 35px -5px #ffc87a;
}

.category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category__item {
  width: calc(25% - 22.5px);
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category__item:first-child {
  -webkit-box-shadow: 0 20px 35px -5px rgba(255, 151, 195, 0.5);
          box-shadow: 0 20px 35px -5px rgba(255, 151, 195, 0.5);
}

.category__item:nth-child(2) {
  -webkit-box-shadow: 0 20px 35px -5px rgba(255, 112, 109, 0.5);
          box-shadow: 0 20px 35px -5px rgba(255, 112, 109, 0.5);
}

.category__item:nth-child(3) {
  -webkit-box-shadow: 0 20px 35px -5px rgba(133, 152, 255, 0.5);
          box-shadow: 0 20px 35px -5px rgba(133, 152, 255, 0.5);
}

.category__item:last-child {
  -webkit-box-shadow: 0 20px 35px -5px rgba(255, 200, 152, 0.5);
          box-shadow: 0 20px 35px -5px rgba(255, 200, 152, 0.5);
}

.category__image {
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 4rem;
  height: 23rem;
  width: 100%;
}

.category__name {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.category__details {
  font-size: 1.4rem;
  color: #c6cad7;
  margin-top: auto;
}

.category__details i {
  margin-left: 1.5rem;
}

.feature {
  padding-top: 18rem;
}

.feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15rem;
}

.feature__item:nth-child(odd) .feature__info {
  padding-left: 10rem;
}

.feature__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.feature__item:nth-child(even) .feature__info {
  padding-right: 10rem;
}

.feature__image, .feature__info {
  width: 50%;
}

.feature__title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.feature__desc {
  font-weight: 300;
  font-size: 1.4rem;
  margin-bottom: 4rem;
  line-height: 1.8;
}

.feature-intro__item {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 3rem;
  text-decoration: underline;
}

.feature-intro__item--circle {
  text-decoration: none;
  position: relative;
  padding-left: 3rem;
}

.feature-intro__item--circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2rem;
  height: 2rem;
  background-color: #00adfc;
  border-radius: 4rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.feature-intro__item--circle:nth-child(2)::before {
  background-color: #ffa400;
}

.feature-intro__item--circle:last-child::before {
  background-color: #ff7870;
}

.feature-best__icon {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: none;
      flex-wrap: none;
  margin-bottom: 1rem;
  color: #ffc87a;
  position: relative;
  z-index: 1;
}

.feature-best__icon::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.feature-best__title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.feature-best__desc {
  font-weight: 300;
}

.feature-best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature-best__item {
  width: calc(50% - 3rem);
  margin-bottom: 5rem;
}

.feature-best__item:nth-child(2) .feature-best__icon {
  color: #00adfc;
}

.feature-best__item:nth-child(3) .feature-best__icon {
  color: chartreuse;
}

.feature-best__item:last-child .feature-best__icon {
  color: blueviolet;
}

.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.text-clamp--2 {
  -webkit-line-clamp: 2;
}

.partner {
  margin-bottom: 19rem;
}

.partner__container {
  max-width: 83rem;
  text-align: center;
}

.partner__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 7rem;
  padding-bottom: 7rem;
  border-bottom: 1px solid currentColor;
}

.partner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.connect {
  text-align: center;
  margin-bottom: 17rem;
}

.connect__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3.5rem;
}

.connect__notice {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 6rem;
}

.connect__notice span {
  color: #ffc87a;
}

.connect__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.connect__item {
  width: calc(25% - 22.5px);
}

.subscribe {
  margin-bottom: 5rem;
}

.subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
  padding-bottom: 8rem;
  border-bottom: 2px solid;
}

.subscribe__info {
  width: 50%;
}

.subscribe__title {
  font-size: 2rem;
  font-weight: bold;
  max-width: 43rem;
}

.subscribe__form {
  background-color: #f2f1f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
  padding: 2rem;
  margin-bottom: 3rem;
}

.subscribe__input, .subscribe__button {
  background-color: transparent;
  font-size: 1.4rem;
  padding: 0;
}

.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 3rem;
}

.subscribe__social i {
  margin-left: 4rem;
  font-size: 2rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.footer__item {
  width: 25%;
}

.footer__link {
  color: #1a2b5f;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 1023px) {
  .banner {
    padding: 5rem 0;
  }
  .banner__heading {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .banner__desc {
    font-size: 1.6rem;
  }
  .banner__buttons > .btn {
    font-size: 1.4rem;
  }
  .category__item {
    width: calc(50% - 22.5px);
    margin-bottom: 2.5rem;
  }
  .feature {
    padding-top: 10rem;
  }
  .feature__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8rem;
  }
  .feature__item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feature__item:nth-child(even) .feature__info {
    padding: 0;
  }
  .feature__item:nth-child(odd) .feature__info {
    padding: 0;
  }
  .feature__image, .feature__info {
    width: 100%;
  }
  .feature__image img {
    margin: 0 auto 5rem;
  }
  .partner__title {
    padding-bottom: 4rem;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
  .category__item {
    width: 100%;
    margin-bottom: 2.5rem;
  }
  .category__image {
    height: 15rem;
  }
  .partner {
    margin-bottom: 5rem;
  }
  .partner__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partner__item {
    width: 50%;
    margin-bottom: 2rem;
  }
  .partner__item img {
    margin: 0 auto;
  }
  .connect {
    margin-bottom: 5rem;
  }
  .connect__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .connect__item {
    width: calc(50% - 1rem);
    margin-bottom: 2rem;
  }
  .subscribe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe__title {
    width: 100%;
    margin-bottom: 2rem;
  }
  .subscribe__info {
    width: 100%;
  }
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__item {
    width: 100%;
    margin-bottom: 2rem;
  }
  .footer__link {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .banner__heading {
    font-size: 3rem;
  }
  .banner__buttons > .btn {
    font-size: 1.2rem;
  }
  .feature__title {
    font-size: 3rem;
  }
  .feature__desc {
    margin-bottom: 3rem;
  }
  .feature-intro__item {
    margin-bottom: 2rem;
  }
}
