.category {
  &__list {
    @include flex(stretch, space-between, wrap);
  }
  &__item {
    width: calc(25% - 22.5px);
    padding: 2.5rem;
    background-color: #fff;
    border-radius: 20px;
    // tạo phần chữ detail cố định phía dưới
    @include flex(stretch, flex-start, nowrap);
    flex-direction: column;
    &:first-child {
      box-shadow: 0 20px 35px -5px rgba(255, 151, 195, 0.5);
    }
    &:nth-child(2) {
      box-shadow: 0 20px 35px -5px rgba(255, 112, 109, 0.5);
    }
    &:nth-child(3) {
      box-shadow: 0 20px 35px -5px rgba(133, 152, 255, 0.5);
    }
    &:last-child {
      box-shadow: 0 20px 35px -5px rgba(255, 200, 152, 0.5);
    }
  }
  &__image {
    border-radius: inherit;
    object-fit: cover;
    margin-bottom: 4rem;
    @include size(23rem, 100%);
  }
  &__name {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    // tiêu đề dài -> tạo 1 dòng 3 chấm
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }
  &__details {
    font-size: 1.4rem;
    color: $text-gray;
    margin-top: auto;
    i {
      margin-left: 1.5rem;
    }
  }
}
