.connect {
  text-align: center;
  margin-bottom: 17rem;
  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3.5rem;
  }
  &__notice {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 6rem;
    span {
      color: $primary-color;
    }
  }
  &__list {
    @include flex(stretch, space-between, none);
  }
  &__item {
    width: calc(25% - 22.5px);
  }
}
