.feature {
  padding-top: 18rem;
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 15rem;
    &:nth-child(odd) {
      .feature__info {
        padding-left: 10rem;
      }
    }
    // đảo ngược lại nội dung
    &:nth-child(even) {
      flex-direction: row-reverse;
      .feature__info {
        padding-right: 10rem;
      }
    }
  }
  &__image,
  &__info {
    width: 50%;
  }
  //   &__info {
  //     padding-left: 10rem;
  //   }
  &__title {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
  }
  &__desc {
    font-weight: 300;
    font-size: 1.4rem;
    margin-bottom: 4rem;
    line-height: 1.8;
  }
  &-intro {
    &__item {
      font-weight: 600;
      font-size: 1.8rem;
      margin-bottom: 3rem;
      text-decoration: underline;
      &--circle {
        text-decoration: none;
        position: relative;
        padding-left: 3rem;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 2rem;
          height: 2rem;
          background-color: #00adfc;
          border-radius: 4rem;
          transform: translateY(-50%);
        }
        &:nth-child(2)::before {
          background-color: #ffa400;
        }
        &:last-child::before {
          background-color: #ff7870;
        }
      }
    }
  }
  &-best {
    &__icon {
      width: 5rem;
      height: 5rem;
      border-radius: 5px;
      font-size: 2rem;
      @include flex(center, center, none);
      margin-bottom: 1rem;
      color: $primary-color;
      position: relative;
      z-index: 1;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: currentColor;
        // currentColor là lấy theo màu cha nó bên ngoài
        opacity: 0.25;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
    &__title {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    &__desc {
      font-weight: 300;
    }
    &__list {
      @include flex(flex-start, space-between, wrap);
      //   display: flex;
      //   align-items: flex-start;
      //   justify-content: space-between;
      //   flex-wrap: wrap;
    }
    &__item {
      width: calc(50% - 3rem);
      margin-bottom: 5rem;
      &:nth-child(2) .feature-best__icon {
        color: #00adfc;
      }
      &:nth-child(3) .feature-best__icon {
        color: chartreuse;
      }
      &:last-child .feature-best__icon {
        color: blueviolet;
      }
    }
  }
}

// Tạo giới hạn dòng desc hiển thị 2 dòng
.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  &--2 {
    -webkit-line-clamp: 2;
  }
}
