.footer {
  &__container {
    @include flex(flex-start, space-between, none);
  }
  &__item {
    width: 25%;
  }
  &__link {
    color: $text-color;
    font-size: 1.4rem;
    display: block;
    margin-bottom: 3rem;
    width: fit-content;
  }
}
