.header {
  padding-top: 4rem;
  &__inner {
    @include flex(center, space-between, none);
  }
  &__menu {
    &-list {
      @include flex(center, none, none);
    }
    &-item {
      margin-left: 5rem;
      &:last-child {
        margin-left: 7rem;
      }
    }
    &-link {
      font-size: 1.6rem;
      color: $text-color;
      transition: color 0.25s linear, border 0.25s linear;
      &:hover {
        color: $primary-color;
        font-weight: 600;
      }
    }
  }
  &__login {
    border: 1px solid currentColor;
    border-radius: 2.5rem;
  }
}
.logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: $text-color;
  &__text {
    color: $primary-color;
  }
}
