.subscribe {
  margin-bottom: 5rem;
  &__container {
    @include flex(flex-start, space-between, none);
    padding-bottom: 8rem;
    border-bottom: 2px solid;
  }
  &__info {
    width: 50%;
  }
  &__title {
    font-size: 2rem;
    font-weight: bold;
    max-width: 43rem;
  }
  &__form {
    background-color: #f2f1f6;
    @include flex(center, space-between, none);
    padding: 2rem;
    margin-bottom: 3rem;
  }
  &__input,
  &__button {
    background-color: transparent;
    font-size: 1.4rem;
    padding: 0;
  }
  &__input {
    flex-grow: 1;
    padding-right: 3rem;
  }
  &__social i {
    margin-left: 4rem;
    font-size: 2rem;
  }
}
