.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  color: $text-color;
  padding: 1rem 3rem;
  display: inline-block;
  border: 0;
  background-color: transparent;
}
