html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
}
input,
textarea,
button,
select {
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
button {
  border: 0;
  cursor: pointer;
}
input {
  border: 0;
  line-height: normal;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
// ***************
.wapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 2rem;
  color: $text-color;
}
