$primary-color: #ffc87a;
$text-color: #1a2b5f;
$text-gray: #c6cad7;

@mixin flex($align, $justify, $wrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}
@mixin size($height, $width: $height) {
  height: $height;
  width: $width;
}
